* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: sans-serif;
  color: #2a363b;
}

#nav {
  position: fixed;
  top: 0;
  right: 1em;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.anchor-bullet {
  margin: 1em 0;
  background-color: #eee;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;

  &.anchor-current {
    box-shadow: 0 0 0 3px #fff;
    background-color: transparent;
    color: #eee;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;

  &:nth-child(1) {
    height: 60vh;
    background-color: #99b898;
  }
  &:nth-child(2) {
    height: 150vh;
    background-color: #fecea8;
  }
  &:nth-child(3) {
    height: 40vh;
    background-color: #ff847c;
  }
  &:nth-child(4) {
    height: 60vh;
    background-color: #e84a5f;
  }

  .content {
    max-width: 40em;
    padding: 0 3em;
    font-weight: 700;

    .count {
      color: #fff;
      font-size: 3em;
      float: left;
      padding-top: 0.3em;
      padding-right: 0.2em;
      line-height: 1;
    }
  }
}

#scroll-next {
  position: fixed;
  bottom: 2em;
  left: 2em;
  border-radius: 50%;
  width: 4em;
  height: 4em;
  background-color: #7cff9d;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.3s;

  &:hover {
    opacity: 0.7;
  }
}